/* BEGIN PERSONAL CSS */

@font-face {
  font-family: Pokemon-Solid;
  src: url('Pokemon_Solid.ttf');
}

.nav-custom-header {
  font-size: 40px;
  margin-left: 10%;
  margin-right: 5px;
  margin-bottom: 6px;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.shadows-into-light {
  font-family: 'M PLUS 1 Code', sans-serif;
}

.dark {
  background-color: #252731;
  color: aliceblue;
}

.bordered {
  border: 2px solid black;
}

body {
  overflow-x: hidden;
}

.spacer {
  width: 100%;
  height: 100px;
}

.giant-spacer {
  width: 100%;
  height: 500px;
}

.squared {
  width: 200px;
  height: 200px;
}

.blue {
  background-color: #4752b1;
}

.bottom-dark {
  background-color: #141414;
  height: 500px;
  color: aliceblue;
}

.bottom-light {
  background-color: #FFF;
  height: 500px;
  color: black;
}

.theme-toggle-button {
  width: 36px;
  height: 32px;
  position: relative;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 5vw;
  transform: scale(1.5);
}

.bio-name {
  font-size: 30px;
}

.bio-text {
  font-size: 20px;
}

@media screen and (min-width:800px) {
  #nav-custom, #dev-team {
    flex-direction: row;
  }

  #text-a, #text-b {
    font-size: 35px;
  }
}

@media screen and (max-width:800px) {
  #bottom {
    height: auto;
  }

  #nav-custom, #dev-team {
    flex-direction: column;
  }

  #text-a, #text-b {
    font-size: 25px;
  }
}

/*BEGIN PERSONAL BOOTSTRAP FIXES*/
.container-fluid {
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: inherit;
  filter: brightness(65%);
}

.no-mp {
  margin: 0%;
  padding: 0%;
}

/* BEGIN SVG BORDER SECTION */
.waves-top {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waves-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 166px;
}

.waves-top .shape-fill {
  fill: #4752b1;
}

.waves-bottom {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waves-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 144px;
}

.waves-bottom .shape-fill {
  fill: #FF4500;
}

.waves-staggered {
  aspect-ratio: 900/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.waves-dark {
  background-image: url('./steps-wave.svg');
}

.waves-light {
  background-image: url('./steps-wave-light.svg');
}