{% extends "base.html" %}

{% block content %}
<div class="container-fluid w-25 mt-1">
    {% with messages = get_flashed_messages() %}
    {% if messages[0] == "Email address already exists" %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
    </div>
    {% endif %}
    {% if messages[0] == "Information can't be null!" %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}. Please sign up again.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/signup">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                placeholder="Enter email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName1" name="name" placeholder="Enter name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{% endblock %}