/* BEGIN PERSONAL CSS*/

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

a, a:hover {
	text-decoration: none;
	color: inherit;
}

.no-mp {
	margin: 0;
	padding: 0;
}

.blue {
	background-color: #4752b1;
	color: aliceblue;
}

.orange {
	background-color: #FF4500;
	color: aliceblue;
}

.dark {
	background-color: #252731;
	color: aliceblue;
}

.very-dark {
	background-color: #141414;
	color: aliceblue;
}

.oswald {
	font-family: 'Oswald', sans-serif;
}

.shadows-into-light {
	font-family: 'Patrick Hand', cursive;
}

.bordered {
	border: 2px solid black;
}

.very-bordered {
	border: 20px solid #141414;
}

.view-port-fill {
	width: 100%;
	height: 100vh;
}

.box-shadow {
	box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

/* BEGIN MAIN SECTION STYLING*/

#main-section span:hover {
	-webkit-transition: background-color 150ms ease-in, scale 150ms ease-in;
	-ms-transition: background-color 150ms ease-in, scale 150ms ease-in;
	transition: background-color 150ms ease-in, scale 150ms ease-in;
}

#main-section span#span-1:hover {
	scale: 1.07;
	background-color: #34384d;
}

.unselectable-text {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#main-section span#span-1 #span-1-name {
	color: inherit;
	-webkit-transition: color 150ms ease-in;
	-ms-transition: color 150ms ease-in;
	transition: color 150ms ease-in;
}


#main-section span#span-1 #span-1-name:hover {
	color: aquamarine;
	-webkit-transition: color 150ms ease-in;
	-ms-transition: color 150ms ease-in;
	transition: color 150ms ease-in;
}

#main-section span#span-2:hover {
	cursor: pointer;
	scale: 1.1;
	background-color: #4752b1;
}

#main-section span#span-3:hover {
	cursor: pointer;
	scale: 1.1;
	background-color: #b40000;
}

#main-section span#span-4:hover {
	cursor: pointer;
	scale: 1.1;
	background-color: #096d00;
}

#main-section span {
	background-color: #252731;
	scale: 1;
	-webkit-transition: background-color 150ms ease-in, scale 150ms ease-in;
	-ms-transition: background-color 150ms ease-in, scale 150ms ease-in;
	transition: background-color 150ms ease-in, scale 150ms ease-in;
}

/* BEGIN BOILERPLATE TEXT, SPACER AND BOX CSS CODE*/
.size-10 {
	font-size: 10px;
}

.size-20 {
	font-size: 20px;
}

.size-30 {
	font-size: 30px;
}

.size-40 {
	font-size: 40px;
}

.size-50 {
	font-size: 50px;
}

.size-75 {
	font-size: 75px;
}

.spacer-50 {
	width: 100%;
	height: 50px;
}

.spacer-100 {
	width: 100%;
	height: 100px;
}

.spacer-200 {
	width: 100%;
	height: 200px;
}

.spacer-500 {
	width: 100%;
	height: 500px;
}

.box-50 {
	width: 50px;
	height: 50px;
}

.box-100 {
	width: 100px;
	height: 100px;
}

.box-200 {
	width: 200px;
	height: 200px;
}

.box-300 {
	width: 300px;
	height: 300px;
	zoom: 1.5;
}

.box-500 {
	width: 500px;
	height: 500px;
}

.box-10p {
	width: 10vw;
	height: 10vw;
}

.box-20p {
	min-width: 20vw;
	min-height: 20vw;
}

.box-30p {
	width: 30vw;
	height: 30vw;
}

.box-40p {
	width: 40vw;
	height: 40vw;
}

.circle-50 {
	border-radius: 100%;
	width: 50px;
	height: 50px;
}

.circle-100 {
	border-radius: 100%;
	width: 100px;
	height: 100px;
}

.circle-220 {
	border-radius: 100%;
	width: 220px;
	height: 220px;
}

.circle-180 {
	border-radius: 100%;
	width: 180px;
	height: 180px;
}

/* BEGIN SVG STUFF */
.poly-right-1 {
	position: absolute;
	width: 30vw;
	right: 0;
	top: 0;
	z-index: auto;
}

.poly-right-2 {
	position: absolute;
	width: 25vw;
	left: 5vw;
	top: 15vh;
	z-index: auto;
}

#polyA, #polyB, #circleA {
	-webkit-filter: drop-shadow(5px 5px 2px #222);
	filter: drop-shadow(5px 5px 2px #222);
	scale: 1;
	-webkit-transition: scale 450ms ease-in, -webkit-filter 450ms ease-in, filter 450ms ease-in;
	-ms-transition: scale 450ms ease-in, -webkit-filter 450ms ease-in, filter 450ms ease-in;
	transition: scale 450ms ease-in, -webkit-filter 450ms ease-in, filter 450ms ease-in;
}

#polyA:hover, #polyB:hover, #circleA:hover {
	scale: 1.1;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	-webkit-transition: scale 150ms ease-in, -webkit-filter 150ms ease-in, filter 150ms ease-in;
	-ms-transition: scale 150ms ease-in, -webkit-filter 150ms ease-in, filter 150ms ease-in;
	transition: scale 150ms ease-in, -webkit-filter 150ms ease-in, filter 150ms ease-in;
}


/* BEGIN BOOTSTRAP CHANGES*/

.btn-link {
	text-decoration: none;
	color: inherit;
}

/* BEGIN TRYING TO MAKE IT LOOK BETTER ON MOBILE VERTICAL SECTION */
@media (orientation: portrait) {
	.is-poly {
		opacity: 0;
	}
}