/* BEGIN PERSONAL CSS*/

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

.container-main {
	position: absolute;
	top: 0;
	left: 0;
}

.top-area {
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container-backdrop-dark {
	background-color: #141414;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	scrollbar-width: 0;
}

.img-1 {
	background-image: url(homepage-assets/1.jpg);
	background-color: rgba(0, 0, 0, 0.4);
}

.img-2 {
	background-image: url(homepage-assets/2.jpg);
	background-color: rgba(0, 0, 0, 0.4);
}

.img-3 {
	background-image: url(homepage-assets/3.jpg);
	background-color: rgba(0, 0, 0, 0.4);
}

.img-4 {
	background-image: url(homepage-assets/4.jpg);
	background-color: rgba(0, 0, 0, 0.4);
}

.top-elements {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.easier-to-read {
	background-color: rgba(0, 0, 0, 0.65);
	color: aliceblue;
}

.no-mp {
	margin: 0;
	padding: 0;
}

.oswald {
	font-family: 'Oswald', sans-serif;
}

.size-75 {
	font-size: 75px;
}

/* BEGIN SVG STUFF */
.bottom-slant {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.bottom-slant svg {
	z-index: 3;
	position: relative;
	display: block;
	width: calc(226% + 1.3px);
	height: 113px;
}

.bottom-slant .shape-fill {
	fill: #141414;
}

.bottom-slant .shape-fill-hover {
	fill: #ff7b00;
}

.bottom-slant-2 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.bottom-slant-2 svg {
	position: relative;
	z-index: 2;
	display: block;
	width: calc(226% + 1.3px);
	height: 152px;
}

.bottom-slant-2 .shape-fill {
	fill: #252731;
}

.bottom-slant-2 .shape-fill-hover {
	fill: #ff9215;
}

.bottom-slant-3 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.bottom-slant-3 svg {
	position: relative;
	z-index: 1;
	display: block;
	width: calc(226% + 1.3px);
	height: 203px;
}

.bottom-slant-3 .shape-fill {
	fill: rgb(41, 44, 69);
}

.bottom-slant-3 .shape-fill-hover {
	fill: rgb(255, 163, 42);
}


/* BEGIN BOOTSTRAP CHANGES*/

.btn-link {
	text-decoration: none;
	color: inherit;
}