/* BEGIN PERSONAL CSS*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.no-mp {
    margin: 0;
    padding: 0;
}

.bordered {
    border: 2px solid black;
}

.very-bordered {
    border: 20px solid #141414;
}

.box-shadowed {
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

.review {
    margin-right: 5%;
    margin-left: 2%;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    scale: 1;
    box-shadow: none;
    -webkit-transition: scale 450ms ease-in, box-shadow 450ms ease-in;
    -ms-transition: scale 450ms ease-in, box-shadow 450ms ease-in;
    transition: scale 450ms ease-in, box-shadow 450ms ease-in;
}

.review:hover {
    scale: 1.05;
    box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
    -webkit-transition: scale 100ms ease-in, box-shadow 100ms ease-in;
    -ms-transition: scale 100ms ease-in, box-shadow 100ms ease-in;
    transition: scale 100ms ease-in, box-shadow 100ms ease-in;
}

.review-title, .review-body {
    text-decoration: none;
    color: inherit;
}

.ps2p {
    font-family: 'Press Start 2P', cursive;
}

.review-title:hover, .review-body:hover {
    color: rgb(72, 72, 255);
}

.poke-gen1-box {
    position: relative;
    border-radius: 2px;
    min-width: 300px;
    max-width: 600px;
    min-height: 100px;
    max-height: 400px;
    overflow: hidden;
    padding: 14px;
    background: white;
    border: 2px solid white;
    box-shadow: 0 2px 0 2px black,
        inset 0 2px 0 2px black,
        0 0 0 2px black,
        inset 0 0 0 2px black;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

.poke-gen1-box:hover {
    overflow-y: auto;
}

.poke-gen1-box>i {
    position: sticky;
    bottom: 7px;
    right: 9px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: black;
    animation: bounceTriangle 0.5s infinite;
    animation-direction: alternate;
    float: right;
}

@keyframes bounceTriangle {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(3px);
    }
}

@media screen and (orientation:landscape) {
    #profile-top {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (orientation:portrait) {
    #profile-top {
        display: flex;
        flex-direction: column;
    }

    #profile-top .MuiAvatar-root {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #profile-top .vr {
        opacity: 0;
    }
}

/* BEGIN BOILERPLATE TEXT, SPACER AND BOX CSS CODE*/
.size-10 {
    font-size: 10px;
}

.size-20 {
    font-size: 20px;
}

.size-30 {
    font-size: 30px;
}

.size-40 {
    font-size: 40px;
}

.size-50 {
    font-size: 50px;
}

.size-75 {
    font-size: 75px;
}

.spacer-50 {
    width: 100%;
    height: 50px;
}

.spacer-100 {
    width: 100%;
    height: 100px;
}

.spacer-200 {
    width: 100%;
    height: 200px;
}

.spacer-500 {
    width: 100%;
    height: 500px;
}

.box-50 {
    width: 50px;
    height: 50px;
}

.box-100 {
    width: 100px;
    height: 100px;
}

.box-200 {
    width: 200px;
    height: 200px;
}

.box-300 {
    width: 300px;
    height: 300px;
    zoom: 1.5;
}

.box-500 {
    width: 500px;
    height: 500px;
}

.box-10p {
    width: 10vw;
    height: 10vw;
}

.box-20p {
    min-width: 20vw;
    min-height: 20vw;
}

.box-30p {
    width: 30vw;
    height: 30vw;
}

.box-40p {
    width: 40vw;
    height: 40vw;
}

.circle-50 {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.circle-100 {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.circle-220 {
    border-radius: 100%;
    width: 220px;
    height: 220px;
}

.circle-180 {
    border-radius: 100%;
    width: 180px;
    height: 180px;
}