h4 {
  margin-top: 2%;
}

.frame {
  width: fit-content;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.result {
  text-align: center;
  border-radius: 5%;
  background-color: lavenderblush;
  transition: 0.15s;
  padding: 20px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: large;
}

.result:hover {
  opacity: 0.5;
  transform: scale(1.02);
}

.top-button {
  position: fixed;
  background-color: green;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  border-radius: 30%;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.top-button:hover {
  background: rgb(86, 190, 86);
}

.box-shadowed {
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

/* BEGIN TYPE STYLING SECTION */

.type-normal {
  border: 2px solid #aa9;
}

.type-fire {
  border: 2px solid #f42;
}

.type-water {
  border: 2px solid #39f;
}

.type-electric {
  border: 2px solid #fc3;
}

.type-grass {
  border: 2px solid #7c5;
}

.type-ice {
  border: 2px solid #6cf;
}

.type-fighting {
  border: 2px solid #b54;
}

.type-poison {
  border: 2px solid #a59;
}

.type-ground {
  border: 2px solid #db5;
}

.type-flying {
  border: 2px solid #89f;
}

.type-psychic {
  border: 2px solid #f59;
}

.type-bug {
  border: 2px solid #ab2;
}

.type-rock {
  border: 2px solid #ba6;
}

.type-ghost {
  border: 2px solid #66b;
}

.type-dragon {
  border: 2px solid #76e;
}

.type-dark {
  border: 2px solid #754;
}

.type-steel {
  border: 2px solid #aab;
}

.type-fairy {
  border: 2px solid #e9e;
}